password
code
blockKey
hashKey
bananagrama.db
coverage.out
cmd/server/server
# The dictionary can be found at https://www.wordgamedictionary.com/twl06/download/twl06.txt
cmd/server/dict.txt
cmd/server/twl06.txt
auth.key
