{{ if .FullLoad }}
  {{ template "head" . }}
{{ end }}
<div class="container-fluid game-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="headline">
        <h1>We're going to play some damn Bananagrams</h1>
        <p class="lead">
          As soon as I get my shit together and build this
        </p>
      </div>
    </div>
  </div>
</div>
{{ if .FullLoad }}
  {{ template "js" . }}
  <script type = 'text/javascript'>
    {{ .JS }}
  </script>
  {{ template "foot" . }}
{{ end }}
