{{ define "head"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Bananagrama</title>

      <!-- Bootstrap -->
      <link href="css/main.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
{{ end }}
{{ template "head" . }}
    <div class="password-holder">
      <h1>Enter password to play</h1>
      <form class="pass-submit" action="/pass" method="POST">
        <input type="password" name="password" autofocus/>
      </form>
    </div>
{{ define "js" }}
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/gopher.js"></script>
  <script src="js/login.js"></script>
{{ end }}
{{ template "js" . }}
{{ define "foot" }}
    </body>
  </html>
{{ end }}
{{ template "foot" . }}
